[submodule "ffmpeg-windows-build-helpers"]
	path = ffmpeg-windows-build-helpers
	url = https://github.com/rdp/ffmpeg-windows-build-helpers.git
[submodule "ffmpeg-build-script"]
	path = ffmpeg-build-script
	url = https://github.com/koush/ffmpeg-build-script.git
